In [8]:
import pandas as pd

# Esports scores

In [99]:
l1=[4500,3800,5200,4900]

In [14]:
score=int(input("Enter the score to change:"))
if score in l1:
    l1[l1.index(score)]=4000
l1

Enter the score to change:3800

[4500, 4000, 5200, '49k']

In [15]:
score=int(input("Enter the new score:"))
l1.append(score)

Enter the new score:5100

In [16]:
for i in l1:
    if i>5000:
        l1.remove(i)
l1

[4500, 4000, '49k']

In [100]:
for i in l1:
    l1[l1.index(i)]=str(i/1000)+'k'
l1

['4.5k', '3.8k', '5.2k', '4.9k']

In [101]:
print("sorted learderboard ranking")
l1.sort()
for i in enumerate(l1):
    print(i)

sorted learderboard ranking
(0, '3.8k')
(1, '4.5k')
(2, '4.9k')
(3, '5.2k')

# colors

In [45]:
colors=("#FF0000","#00FF00")

In [46]:
flag=0
for i in colors:
    if i=="#FF0000":
        flag=1
        print("the red is present")
        break
if flag!=1:
    print("red is not present")

the red is present

In [47]:
new_color=input("Enter the new color:")
colors+=(new_color,)

Enter the new color:#c00

In [48]:
colors

('#FF0000', '#00FF00', '#c00')

In [49]:
red,green,test=colors
red,green,test

('#FF0000', '#00FF00', '#c00')

In [50]:
colors+=("#000FF",)

In [51]:
colors

('#FF0000', '#00FF00', '#c00', '#000FF')

In [55]:
l1=['#FF0000', '#00FF00' ,'#000FF']

In [56]:
#tupple with out rgb
new_tup=()
for i in colors:
    if i in l1:
        pass
    else:
        new_tup+=(i,)

In [57]:
new_tup

('#c00',)

In [58]:
rgb_tuples=()
for i in colors:
    if i in l1:
        rgb_tuples+=(i,)
    else:
        pass

In [59]:
rgb_tuples

('#FF0000', '#00FF00', '#000FF')

In [60]:
pastels=("#FFC0CB","#ADD8E6")
merged=pastels+rgb_tuples

In [62]:
merged

('#FFC0CB', '#ADD8E6', '#FF0000', '#00FF00', '#000FF')

# scientific research

In [65]:
print("ranking samples")
samples={"SR-1001","SR-1002","SR-1003"}

ranking samples

In [66]:
if "SR-1002" in samples:
    print("exists")

exists

In [67]:
samples.add("SR-1004")

In [68]:
samples

{'SR-1001', 'SR-1002', 'SR-1003', 'SR-1004'}

In [69]:
samples.discard("SR-1001")

In [70]:
samples

{'SR-1002', 'SR-1003', 'SR-1004'}

In [71]:
for i in samples:
    print(i)

SR-1004
SR-1002
SR-1003

In [73]:
control_samples={"SR-1005","SR-1009"}
merged_samples=samples.union(control_samples)

In [74]:
merged_samples

{'SR-1002', 'SR-1003', 'SR-1004', 'SR-1005', 'SR-1009'}

# sports team roaster

In [75]:
team = {
    "player1": {
        "name": "John",
        "position": "Forward",
        "goals": 5
    },
    "player2": {
        "name": "Mike",
        "position": "Goalie",
        "goals": 0
    }
}

In [79]:
for i in list(team.values()):
    if i['name']=='John':
        print(f"the postion of john is {i['position']}")

the postion of john is Forward

In [88]:
team['player2']['goals']=1

In [89]:
team

{'player1': {'name': 'John', 'position': 'Forward', 'goals': 5},
 'player2': {'name': 'Mike', 'position': 'Goalie', 'goals': 1}}

In [90]:
team['player3']={
    "name":"Sarah",
    "position":"Midfielder",
    "goals":"3"
}

In [91]:
team

{'player1': {'name': 'John', 'position': 'Forward', 'goals': 5},
 'player2': {'name': 'Mike', 'position': 'Goalie', 'goals': 1},
 'player3': {'name': 'Sarah', 'position': 'Midfielder', 'goals': '3'}}

# open csv then to dataframe

In [103]:
import pandas as pd

In [104]:
pd.read_csv("wholesale.csv")

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52